<%= render :partial => "/shared/menu" %>
<div class="row">
  <div class="col-md-4">
    <h3 style="text-align:center;"><span class="label label-primary"><%= @team.name%></span></h3>
      <a href="#" class="thumbnail">
        <img alt="<%= @team.name%>" src="/assets/<%=@team.id %>/<%= @team.jersey %>" />
      </a>
    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align:center;"><span class="label label-primary"><%=@div_match_title %></span></h3>

        <% if @matches.count == 1 %>
            <ul class="list-group">
              <% @matches[@matches.keys.first].each do |m| %>
                  <li class="list-group-item"><small><em><%=m.match_date.strftime("%d/%m/%Y") %></em>&nbsp;<%= link_to m.home_team.name+" "+m.home_team_result.to_s+" - "+m.away_team_result.to_s+" "+m.away_team.name, m %>&nbsp;(<%=m.competition.long_name %>)</small></li>
              <% end %>
            </ul>

        <% else %>
            <div id="accordion">
              <% @matches.each do |k,m_array| %>
                  <h3><%= k %></h3>
                  <ul class="list-group" style="padding:0px; border:0px;">
                    <% m_array.each do |m| %>
                        <li class="list-group-item"><small><em><%=m.match_date.strftime("%d/%m/%Y") %></em>&nbsp;<%= link_to m.home_team.name+" "+m.home_team_result.to_s+" - "+m.away_team_result.to_s+" "+m.away_team.name, m, :style=>"color: #428BCA;text-decoration: none;" %>&nbsp;(<%=m.competition.long_name %>)</small></li>
                    <% end %>
                  </ul>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-4"><h3 style="text-align:center;"><span class="label label-primary"><%= @div_stats_rank %></span></h3>
    <% if @stats_rank.count == 1 %>
        <ul class="list-group" >
          <% @stats_rank.each do |k,v| %>
              <% v.each do |comp_k, comp_v| %>
                  <% comp_v.each do |metric|  %>
                      <% if metric["rank"] == 1 %>
                          <li class="list-group-item"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;<span class="badge"><%=metric[metric.keys.first]%></span><%= t 'metric.'+metric.keys.first.to_s%>&nbsp;(rank: 1)</li>
                      <% else %>
                          <li class="list-group-item"><span class="badge"><%=metric[metric.keys.first]%></span><%= t 'metric.'+metric.keys.first.to_s%>&nbsp;(rank:&nbsp;<%=metric["rank"] %>)</li>
                      <% end %>
                  <% end %>
              <% end %>
          <% end %>
        </ul>
    <% else %>
        <div id="stats-rank-accordion">
          <% @stats_rank.each do |k,v| %>
              <% v.each do |comp_k, comp_v| %>
                  <h3><%= k.to_s+"-"+comp_k %></h3>
                  <ul class="list-group"  style="padding:0px; border:0px;">
                    <% comp_v.each do |metric|  %>
                        <% if metric["rank"] == 1 %>
                            <% if metric["percentage"] == 1 %>
                                <li class="list-group-item"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;<span class="badge"><%=(metric[metric.keys.first]*100).to_i%>%</span><%= t 'metric.'+metric.keys.first.to_s%>&nbsp;(rank: 1)</li>
                            <% else %>
                                <li class="list-group-item"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;<span class="badge"><%=metric[metric.keys.first].to_i%></span><%= t 'metric.'+metric.keys.first.to_s%>&nbsp;(rank: 1)</li>
                            <% end %>

                        <% else %>
                            <% if metric["percentage"] == 1 %>
                                <li class="list-group-item"><span class="badge"><%=(metric[metric.keys.first]*100).to_i%>%</span><%= t 'metric.'+metric.keys.first.to_s%>&nbsp;(rank:&nbsp;<%=metric["rank"] %>)</li>
                            <% else %>
                                <li class="list-group-item"><span class="badge"><%=metric[metric.keys.first].to_i%></span><%= t 'metric.'+metric.keys.first.to_s%>&nbsp;(rank:&nbsp;<%=metric["rank"] %>)</li>
                            <% end %>
                        <% end %>
                    <% end %>
                  </ul>
              <% end %>
          <% end %>
        </div>
    <% end %>


  </div>
  <div class="col-md-4">
    <h3><span class="label label-primary"><%= @div_stats_title%></span></h3>
    <% if @stats.count == 1 %>
        <div><ul class="list-group">
        <% @stats.each do |k,v| %>
            <% v.each do |comp_k, comp_v| %>

                  <% comp_v.each do |metric|  %>
                      <% if metric["kind"] == 1 %>
                          <% if metric["percentage"] == 1 %>
                              <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;<span class="badge"><%=(metric[metric.keys.first] *100).to_i%>%</span><%= t 'metric.'+metric.keys.first.to_s%></li>
                          <% else %>
                            <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;<span class="badge"><%=metric[metric.keys.first].to_i%></span><%= t 'metric.'+metric.keys.first.to_s%></li>
                          <% end %>
                      <% elsif metric["kind"] == 2 %>
                          <% if metric["percentage"] == 1 %>
                              <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;<span class="badge"><%=(metric[metric.keys.first]*100).to_i%>%</span><%= t 'metric.'+metric.keys.first.to_s%></li>
                          <% else %>
                            <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;<span class="badge"><%=metric[metric.keys.first].to_i%></span><%= t 'metric.'+metric.keys.first.to_s%></li>
                          <% end %>
                      <% else %>
                          <% if metric["percentage"] == 1 %>
                              <li class="list-group-item"><span class="badge"><%=(metric[metric.keys.first]*100).to_i%>%</span><%= t 'metric.'+metric.keys.first.to_s%></li>
                          <% else %>
                            <li class="list-group-item"><span class="badge"><%=metric[metric.keys.first].to_i%></span><%= t 'metric.'+metric.keys.first.to_s%></li>
                          <% end %>
                      <% end %>
                  <% end %>

            <% end %>
        <% end %>
        </ul></div>
    <% else %>
        <div id="stats-accordion">
          <% @stats.each do |k,v| %>
              <% v.each do |comp_k, comp_v| %>
                  <h3><%= k.to_s+"-"+comp_k %></h3>
                  <ul class="list-group"  style="padding:0px; border:0px;">
                    <% comp_v.each do |metric|  %>
                        <% if metric["kind"] == 1 %>
                            <% if metric["percentage"] == 1 %>
                                <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;<span class="badge"><%=(metric[metric.keys.first] *100).to_i%>%</span><%= t 'metric.'+metric.keys.first.to_s%></li>
                            <% else %>
                                <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;<span class="badge"><%=(metric[metric.keys.first]).to_i%></span><%= t 'metric.'+metric.keys.first.to_s%></li>
                            <% end %>
                        <% elsif metric["kind"] == 2 %>
                            <% if metric["percentage"] == 1 %>
                                <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;<span class="badge"><%=(metric[metric.keys.first] * 100).to_i%>%</span><%= t 'metric.'+metric.keys.first.to_s%></li>
                            <% else %>
                                <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;<span class="badge"><%=(metric[metric.keys.first]).to_i%></span><%= t 'metric.'+metric.keys.first.to_s%></li>
                            <% end %>
                        <% else %>
                            <% if metric["percentage"] == 1 %>
                                <li class="list-group-item"><span class="badge"><%=(metric[metric.keys.first] * 100).to_i%>%</span><%= t 'metric.'+metric.keys.first.to_s%></li>
                            <% else %>
                                <li class="list-group-item"><span class="badge"><%=(metric[metric.keys.first]).to_i%></span><%= t 'metric.'+metric.keys.first.to_s%></li>
                            <% end %>
                        <% end %>
                    <% end %>
                  </ul>
              <% end %>
          <% end %>

        </div>
    <% end %>

  </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#stats-rank-accordion, #accordion, #stats-accordion").accordion({heightStyle: "content"});

    });

</script>

