<div class="navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container container-home">
              <div class="navbar-header">
                <a href="#" class="navbar-brand">Roogby</a>
              </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="<%= players_path %>">Players</a></li>
                      <li class="active"><a href="<%= teams_path %>">Teams</a></li>
                      <li class="active"><a href="<%= competitions_path %>">Competitions</a></li>
                      <li class="active"><a href="#">Live matches!</a></li>
                      <li class="active"><a href="#">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="<%= asset_path 'scrum.jpg'%>" style="height: 400px; width: 100%; display: block;" />
    </div>
    <div class="container">
        <div class="carousel-caption">
            <h1>Roogby, googling rugby</h1>
            <p class="disclaimer">The easiest and quickest way to retrieve informations about rugby's world</p>
            <% if !flash[:error].blank? %>
              <div class="alert alert-danger">
                Ehy! Didn't you find what you search? Take a look at our <a href="#" class="alert-link">players' page</a> or <a href="#" class="alert-link">teams' page</a>
              </div>
            <% end %>
            <%= form_tag traffic_redirection_pages_path, :method => :post, :class => '', :id => 'home-search-form' do %>
              <div class="row">
                <div class="col-md-6"><input type="text" class="form-control typeahead roogby-finder" id="form-wide-name" placeholder="Players, Teams, Competition ..." name="search_text"></div>
                <div class="col-md-4"><%= select_tag "season", content_tag(:option,'Select season...',:value=>"")+options_from_collection_for_select(@seasons , "id", "season"), :class=>"form-control" %></div>
                <div class="col-md-2"><%= hidden_field_tag "page_kind" %><%= hidden_field_tag "value_id" %></div>
              <button type="button" class="btn btn-default" id="home-search-button">Search</button>
              </div>
            <% end %>
        </div>
    </div>
  </div>

</div>
<div clas="row">
    <div class="col-lg-4">
      <h2>Last random teams stats</h2>
      <h4><%= t 'metric.'+@ctm.metric.metric %></h4>
      <ul class="list-group">
        <% @teams_stats.each do |ts| %>
            <% if !ts.team.blank? %>
                <li class="list-group-item"><span class="badge"><%=ts.quantity %></span><%= link_to ts.team.name, team_path(:id=>ts.team_id) %>&nbsp;- <%=ts.competition.name+" "+ts.season_id.to_s %></li>
            <% else %>
                <li class="list-group-item">Team unavailable (id=<%=ts.team_id %>) </li>
            <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-lg-4">
      <h2>Last random players stats</h2>
      <h4><%= t 'metric.'+@cpm.metric.metric %></h4>
      <ul class="list-group">
        <% @players_stats.each do |ps| %>
            <% if !ps.player.blank? %>
                <li class="list-group-item"><span class="badge"><%=ps.quantity %></span><%= link_to ps.player.name, player_path(:id=>ps.player_id) %>&nbsp;- <%=ps.competition.name+" "+ps.season_id.to_s %></li>
            <% else %>
                <li class="list-group-item">Player unavailable (id=<%=ps.player_id%>)</li>
            <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-lg-4">
      <h2>Last matches</h2>
      <h4>&nbsp;</h4>
      <ul class="list-group">
          <% @last_matches.each do |lm| %>
            <li class="list-group-item"><em><%=lm.match_date.strftime("%d/%m/%Y") %></em>&nbsp;<%= link_to lm.home_team.name+" "+lm.home_team_result.to_s+" - "+lm.away_team_result.to_s+" "+lm.away_team.name, lm %>&nbsp;(<%=lm.competition.long_name %>)</li>

          <% end %>
      </ul>
    </div>
</div>


<script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
<script type='text/javascript'>
    $(document).ready(function() {
        $('#form-wide-name').typeahead([{
                name: 'players',
                valueKey: 'name',
                prefetch: {
                    url: '/api/players_search.json',
                    ttl: 3600000
                },
                limit: 7,
                header:'<p class="suggestion-header">Players</p>',
                template: '<p><strong>{{name}}</strong>, <em>{{name2}}</em>&nbsp;({{team}})</p>',
                engine: Hogan

            },
            {   name: 'teams',
                valueKey: 'name',
                prefetch: {
                    url: '/api/teams_search.json',
                    ttl: 3600000
                },
                limit: 7,
                header:'<p class="suggestion-header">Teams</p>',
                template: '<p><strong>{{name}}</strong></p>',
                engine: Hogan

            },
            {   name: 'competitions',
                valueKey: 'name',
                prefetch: {
                    url: '/api/competitions_search.json',
                    ttl: 3600000
                },
                limit: 7,
                header:'<p class="suggestion-header">Competitions</p>',
                template: '<p><strong>{{name}}</strong></p>',
                engine: Hogan

            }


        ]).on('typeahead:selected', function($e, datum) {
                    //alert(datum.page_type);
                    $('input#page_kind').val(datum.page_type);
                    $('input#value_id').val(datum.value_id);
                });
        $('#home-search-button').click( function() {
            $('#home-search-form').submit();
        });
    });
</script>