<div class="row">
  <div class="col-md-4"><h1><%= @player.name%></h1>
    <div class="row">
      <div class="col-md-6">
        <img style="padding-left:40px" alt="<%= @player.name%>" src="/assets/<%=@player.team_id %>/players/<%= @player.headshot %>" />
      </div>
      <div class="col-md-6">
        <p><strong>Date of birth:</strong><span style="padding-left:5px"><%= @player.date_of_birth.strftime("%d/%m/%Y") %></span></p>
        <p><strong>Position:</strong><span style="padding-left:5px"><%= @player.position %></span></p>
        <p><strong>Height:</strong><span style="padding-left:5px"><%= @player.height %></span></p>
        <p><strong>Weight:</strong><span style="padding-left:5px"><%= @player.weight %></span></p>
        <p><strong>Debut:</strong><span style="padding-left:5px"><%= @player.comments %></span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p style="padding-left:5px"><strong>Profile:</strong><span style="padding-left:5px"><%= @player.profile %></span></p>
      </div>
    </div>
  </div>
  <div class="col-md-4"><h1>Last stats</h1></div>
  <div class="col-md-4"><h1>Last matches played</h1>
    <ul>
      <% @matches.each do |m| %>
        <li><%= link_to m.home_team.name+" - "+m.away_team.name, m %></li>
      <% end %>
    </ul>
  </div>
</div>

