<%= render :partial => "/shared/menu" %>
<div class="row">
  <div class="col-md-4">
    <h3 style="text-align:center;"><span class="label label-primary"><%= @player.name%></span></h3>
    <div class="row">
      <div class="col-md-5">
        <a href="#" class="thumbnail">
            <img alt="<%= @player.name%>" src="/assets/<%=@player.team_id %>/players/<%= @player.headshot %>" />
        </a>
      </div>
      <div class="col-md-7">
        <p><strong>Date of birth:</strong><span style="padding-left:5px"><%= @player.date_of_birth.strftime("%d/%m/%Y") %></span></p>
        <p><strong>Position:</strong><span style="padding-left:5px"><%= @player.position %></span></p>
        <p><strong>Height:</strong><span style="padding-left:5px"><%= @player.height %></span></p>
        <p><strong>Weight:</strong><span style="padding-left:5px"><%= @player.weight %></span></p>
        <p><strong>Debut:</strong><span style="padding-left:5px"><%= @player.comments %></span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Profile</h3>
          </div>
          <div class="panel-body">
            <%= @player.profile %>
          </div>
        </div>
        <!--<p style="padding-left:5px"><strong>Profile:</strong><span style="padding-left:5px"><% @player.profile %></span></p>-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 style="text-align:center;"><span class="label label-primary"><%= @div_matches %></span></h3>
        <% if @matches.count == 1 %>
            <ul class="list-group">
              <% @matches.each do |k,v| %>
                  <% v.each do |m| %>
                      <li class="list-group-item"><small><em><%= m.match_date.strftime("%d/%m/%Y") %></em> <%= link_to m.home_team.name+" "+m.home_team_result.to_s+" - "+m.away_team_result.to_s+" "+m.away_team.name, m %> (<%=m.competition.long_name %>)</small></li>
                  <% end %>
              <% end %>
            </ul>
        <% else %>
            <div id="matches-accordion">
              <% @matches.each do |k,v| %>
                  <h3><%= k %></h3>
                  <ul class="list-group" style="padding:0px; border:0px;">
                    <% v.each do |m| %>
                        <li class="list-group-item"><small><em><%= m.match_date.strftime("%d/%m/%Y") %></em> <%= link_to m.home_team.name+" "+m.home_team_result.to_s+" - "+m.away_team_result.to_s+" "+m.away_team.name, m, :style=>"color: #428BCA;text-decoration: none;" %> (<%=m.competition.long_name %>)</small></li>
                    <% end %>
                  </ul>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <h3 style="text-align:center;"><span class="label label-primary"><%= @div_stats_rank%></span></h3>
    <% if @stats_rank.count == 1 %>
        <ul class="list-group" >
          <% @stats_rank.each do |k,v| %>
              <% v.each do |comp_k, comp_v| %>
                  <% comp_v.each do |metric|  %>
                      <% if metric["rank"] == 1 %>
                          <li class="list-group-item"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;<span class="badge"><%=metric[metric.keys.first]%></span><%= t 'metric.'+metric.keys.first.to_s%>&nbsp;(rank: 1)</li>
                      <% else %>
                          <li class="list-group-item"><span class="badge"><%=metric[metric.keys.first]%></span><%= t 'metric.'+metric.keys.first.to_s%>&nbsp;(rank:&nbsp;<%=metric["rank"] %>)</li>
                      <% end %>
                  <% end %>
              <% end %>
          <% end %>
        </ul>
    <% else %>
        <div id="stats-rank-accordion">
          <% @stats_rank.each do |k,v| %>
              <% v.each do |comp_k, comp_v| %>
                  <h3><%= k.to_s+"-"+comp_k %></h3>
                  <ul class="list-group"  style="padding:0px; border:0px;">
                    <% comp_v.each do |metric|  %>
                        <% if metric["rank"] == 1 %>
                            <% if metric["percentage"] == 1 %>
                                <li class="list-group-item"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;<span class="badge"><%=(metric[metric.keys.first]*100).to_i%>%</span><%= t 'metric.'+metric.keys.first.to_s%>&nbsp;(rank: 1)</li>
                            <% else %>
                                <li class="list-group-item"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;<span class="badge"><%=metric[metric.keys.first].to_i%></span><%= t 'metric.'+metric.keys.first.to_s%>&nbsp;(rank: 1)</li>
                            <% end %>

                        <% else %>
                            <% if metric["percentage"] == 1 %>
                                <li class="list-group-item"><span class="badge"><%=(metric[metric.keys.first]*100).to_i%>%</span><%= t 'metric.'+metric.keys.first.to_s%>&nbsp;(rank:&nbsp;<%=metric["rank"] %>)</li>
                            <% else %>
                                <li class="list-group-item"><span class="badge"><%=metric[metric.keys.first].to_i%></span><%= t 'metric.'+metric.keys.first.to_s%>&nbsp;(rank:&nbsp;<%=metric["rank"] %>)</li>
                            <% end %>
                        <% end %>
                    <% end %>
                  </ul>
              <% end %>
          <% end %>
        </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <h3 style="text-align:center;"><span class="label label-primary"><%= @div_competition_stats %></span></h3>
    <div id="accordion">
        <% @stats.each do |k,v| %>
            <% v.each do |comp_k, comp_v| %>
                <h3><%= k.to_s+"-"+comp_k %></h3>
                <ul class="list-group" style="padding:0px; border:0px;">
                  <% comp_v.each do |metric|  %>
                    <% if metric["kind"] == 1 %>
                        <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;<span class="badge"><%=metric[metric.keys.first]%></span><%= t 'metric.'+metric.keys.first.to_s%></li>
                    <% elsif metric["kind"] == 2 %>
                        <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;<span class="badge"><%=metric[metric.keys.first]%></span><%= t 'metric.'+metric.keys.first.to_s%></li>
                    <% else %>
                        <li class="list-group-item"><span class="badge"><%=metric[metric.keys.first]%></span><%= t 'metric.'+metric.keys.first.to_s%></li>
                    <% end %>
                  <% end %>
                </ul>
            <% end %>
        <% end %>

    </div>

  </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#matches-accordion, #stats-rank-accordion, #accordion").accordion({heightStyle: "content"});

    });

</script>

