<script type="text/javascript">
    function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyD7guz_PABGX8h4bEMCcJLP7HPqtFYFEW4&sensor=false&' + 'callback=initialize';
        document.body.appendChild(script);
    }

    function initialize() {
        var center = new google.maps.LatLng(<%=@lat%>, <%=@lon%>);
        var mapOptions = {
            center: center,
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);

        var marker = new google.maps.Marker({ position: center,
            map: map,
            title: '<%=@venue %>',
            icon: '/assets/stadium.png'
        });
    }
    //google.maps.event.addDomListener(window, 'load', initialize);
    window.onload = loadScript;

</script>
<%= render :partial => "/shared/menu" %>
<ol class="breadcrumb">
  <li><a href="<%=root_path%>">Home</a></li>
  <li class="active"><%= @match.home_team.name+" - "+@match.away_team.name%></li>
</ol>

<div class="row">
  <div class="col-md-4">
    <h3 style="text-align:center;"><span class="label label-primary"><%= @match.home_team.name+" "+@match.home_team_result.to_s+" - "+@match.away_team_result.to_s+" "+@match.away_team.name%></span></h3>
    <p><strong>Date:</strong><span style="padding-left:5px"><%= @match.match_date.strftime('%d/%m/%Y')%></span></p>
    <p><strong>Kick off:</strong><span style="padding-left:5px"><%= @match.match_time.strftime('%H:%M') %></span></p>

    <p><strong>Venue:</strong><span style="padding-left:5px"><%= @match.venue.name rescue 'NA' %>&nbsp;(<%=@match.venue.city rescue 'NA'%>)</span></p>
    <div id="map-canvas" style="width: 100%; height: 300px"></div>
    <h3 style="text-align:center;"><span class="label label-primary">Main Stats</span></h3>
    <%if @stats.blank? %>
        <p>No stats available</p>
    <% else %>
        <a href="#">Browse further stats</a>
        <div id="accordion">
          <h3>Full game</h3>
          <div id="full-game">
            <div id="tabs">
              <ul>
                <li><a href="#tabs-1">Possession</a></li>
                <li><a href="#tabs-2">Territory</a></li>
              </ul>
              <div id="tabs-1"></div>
              <div id="tabs-2"></div>
            </div>
          </div>
          <h3>First half</h3>
          <div id="first-half">
            <div id="tabs1">
              <ul>
                <li><a href="#tabs-3">Possession</a></li>
                <li><a href="#tabs-4">Territory</a></li>
              </ul>
              <div id="tabs-3"></div>
              <div id="tabs-4"></div>
            </div>
          </div>
          <h3>Second half</h3>
          <div id="second-half">
            <div id="tabs2">
              <ul>
                <li><a href="#tabs-5">Possession</a></li>
                <li><a href="#tabs-6">Territory</a></li>
              </ul>
              <div id="tabs-5"></div>
              <div id="tabs-6"></div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <h3 style="text-align:center;"><span class="label label-primary">Teams</span></h3>
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th align="center"><%= @match.home_team.name %></th>
          <th></th>
          <th align="center"><%= @match.away_team.name %></th>
        </tr>
      </thead>
      <tbody>
        <% @home_team_lineup.each_with_index do |l,i| %>
            <tr>
              <td align="center"><%= link_to l[:name], player_path(:id=>l[:player_id]) %></td>
              <td><%= l[:position_id] %></td>
              <td align="center"><%= link_to @away_team_lineup[i][:name], player_path(:id=>@away_team_lineup[i][:player_id]) %></td>
            </tr>
        <% end %>
      </tbody>

    </table>

  </div>
  <div class="col-md-4">
    <h3 style="text-align:center;"><span class="label label-primary">Events</span></h3>
    <table class="table table-hover table-condensed table-bordered">
      <thead>
        <tr>
          <th><%= @match.home_team.name %></th>
          <th></th>
          <th><%= @match.away_team.name %></th>
        </tr>
      </thead>
      <tbody>
        <% @match_events.each do |me| %>
            <tr>
                <% if me.team_id == @match.home_team.id %>
                    <td><strong><%=me.event_type%></strong>:&nbsp;<%=me.player.name rescue nil %></td>
                    <td><%=me.minute %>:<%=me.second %></td>
                    <td></td>
                <% else %>
                    <td></td>
                    <td><%=me.minute %>:<%=me.second %></td>
                    <td><strong><%=me.event_type%></strong>:&nbsp;<%=me.player.name rescue nil %></td>
                <% end %>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load('visualization', '1.0', {'packages':['corechart']});

    function drawPieChart(team1, team2, val1, val2, color1, color2, title, div) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
            [team1, val1*1],
            [team2, val2*1],
        ]);

        // Set chart options
        var options = { 'title':title,'width':300,'height': 300, chartArea: {width:'80%'}, is3D: true, colors:[color1,color2]};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById(div));
        chart.draw(data, options);
    }


    $(document).ready(function() {
        $("#accordion").accordion({heightStyle: "content"});
        $( "#tabs, #tabs1, #tabs2" ).tabs();
        <% if !@res.blank? %>
            drawPieChart('<%= @match.home_team.name%>', '<%= @match.away_team.name %>', <%= @res[@match.home_team.id][1].to_i %>, <%= @res[@match.away_team.id][1].to_i %>, '<%= @match.home_team.color%>', '<%= @match.away_team.color %>', 'Territory', 'tabs-2');
            drawPieChart('<%= @match.home_team.name%>', '<%= @match.away_team.name %>', <%= @res[@match.home_team.id][0].to_i %>, <%= @res[@match.away_team.id][0].to_i %>, '<%= @match.home_team.color%>', '<%= @match.away_team.color %>','Possession', 'tabs-1');
            drawPieChart('<%= @match.home_team.name%>', '<%= @match.away_team.name %>', <%= @res[@match.home_team.id][4].to_i %>, <%= @res[@match.away_team.id][4].to_i %>, '<%= @match.home_team.color%>', '<%= @match.away_team.color %>','Territory 1st half', 'tabs-4');
            drawPieChart('<%= @match.home_team.name%>', '<%= @match.away_team.name %>', <%= @res[@match.home_team.id][2].to_i %>, <%= @res[@match.away_team.id][2].to_i %>, '<%= @match.home_team.color%>', '<%= @match.away_team.color %>','Possession 1st half', 'tabs-3');
            drawPieChart('<%= @match.home_team.name%>', '<%= @match.away_team.name %>', <%= @res[@match.home_team.id][5].to_i %>, <%= @res[@match.away_team.id][5].to_i %>, '<%= @match.home_team.color%>', '<%= @match.away_team.color %>','Territory 2nd half', 'tabs-6');
            drawPieChart('<%= @match.home_team.name%>', '<%= @match.away_team.name %>', <%= @res[@match.home_team.id][3].to_i %>, <%= @res[@match.away_team.id][3].to_i %>, '<%= @match.home_team.color%>', '<%= @match.away_team.color %>','Possession 2nd half', 'tabs-5');
        <% end %>

        });

</script>




